<% provide(:title, @user.name) %>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= peppe_pig @user %>

				<p id="name">	
					  <strong>Name:</strong>
					  <%= @user.name %>
				</p>

				<p>
				  <strong>Email:</strong>
				  <%= @user.email %>
				</p>
			</h1>
		</section>
		<%= link_to 'Edit', edit_user_path(@user) %> |
		<%= link_to 'Back', users_path %>
	</aside>
</div>
